.body{
    font-family: 'open sans', sans-serif;
}

.banner-container{
    background-color: #C6C6C6;
}

.banner-column{
    background-color: #8C8C8C;
}

.navbar-container{
    background-color: #262B38;

}

.about-container{
    background-color:#00BDBD;
}