.body{
    font-family: 'open sans', sans-serif;
}

.banner-container{
    background-color: #C6C6C6;
}

.banner-column{
    background-color: #8C8C8C;
}

.navbar-container {
    top: 0; /* Added colon after 'top' */
    background-color: #262B38;
    position: sticky;
    z-index: 2;
}


.about-container{
    background-color:#00BDBD;
}
.container-education{
    background-color:#EEEEEE ;
}

.bg-redtype{
    background-color: #FB857F;
}

.bg-redtype:hover{
    color: black!important;
}
.redtype-color{
    color: #FB857F;
}
.circle{
    background-color: #FB857F;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.Project-container{
    background-color: #2bb3dd; ;


}

.form-container{
    background-color: #474D5D;
}

.inner-form{
    background-color:#5B5F73 ;

}
.footer{
    background-color: #00BDBD;
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    coler :#262B38
}


.circle :hover{
   
    background-color: #262B38;
    
}